name: "Build"

on:
  push:
    branches:
      - "main"
    tags:
      - "*"
  pull_request:
    branches:
      - "main"

jobs:
  BuildMac:
    runs-on: "macos-13"

    strategy:
      matrix:
        config:
          - "Debug"
          - "Release"

    steps:
      - uses: "actions/checkout@v3"
        with:
          submodules: "recursive"

      - name: "Run build-macos.sh"
        run: "./build-macos.sh ${{ matrix.config }}"

      - uses: "actions/upload-artifact@v3"
        with:
          name: "opencv-macos-${{ matrix.config }}"
          path: "release/opencv-macos-${{ matrix.config }}.tar.gz"

  BuildLinux:
    runs-on: "ubuntu-22.04"

    strategy:
      matrix:
        config:
          - "Debug"
          - "Release"

    steps:
      - uses: "actions/checkout@v3"
        with:
          submodules: "recursive"

      - name: "Run build-linux.sh"
        run: "./build-linux.sh ${{ matrix.config }}"

      - uses: "actions/upload-artifact@v3"
        with:
          name: "opencv-linux-${{ matrix.config }}"
          path: "release/opencv-linux-${{ matrix.config }}.tar.gz"

  BuildWindows:
    runs-on: "windows-2022"

    strategy:
      matrix:
        config:
          - "Debug"
          - "Release"

    steps:
      - uses: "actions/checkout@v3"
        with:
          submodules: "recursive"

      - name: "Run Build-Windows.ps1"
        run: "./Build-Windows.ps1 -Config ${{ matrix.config }}"

      - uses: "actions/upload-artifact@v3"
        with:
          name: "opencv-linux-${{ matrix.config }}"
          path: "release/opencv-windows-${{ matrix.config }}.zip"

  Release:
    runs-on: "ubuntu-22.04"
    if: "github.event_name == 'push' && contains(github.ref, 'refs/tags/')"
    needs: [BuildMac, BuildLinux, BuildWindows]
    permissions:
      contents: "write"
    steps:
      - name: "Get Metadata"
        id: "metadata"
        run: |
          echo "version=${GITHUB_REF/refs\/tags\//}" >> $GITHUB_OUTPUT

      - name: "Download build artifacts"
        uses: "actions/download-artifact@v3"

      - name: "Create Release"
        uses: "softprops/action-gh-release@1e07f4398721186383de40550babbdf2b84acfc5"
        with:
          draft: true
          tag_name: "${{ steps.metadata.outputs.version }}"
          name: "${{ steps.metadata.outputs.version }}"
          files: |
            ${{ github.workspace }}/**/*.tar.gz
            ${{ github.workspace }}/**/*.zip